<!-- Property binding -->
<!-- <textarea rows="6" [value]="newPost" #postInput></textarea>

<hr>
<button (click)="onAddPost(postInput)">Save post</button>
<p>{{ newPost }}</p> -->

<!-- Two ways binding -->
<textarea rows="6" [(ngModel)]="enteredValue"></textarea>
<hr>
<!-- Event biding -->
<button (click)="onAddPost()">Save post</button>
<!-- string interpolation -->
<p>{{ newPost }}</p>